<h1>Portfolio page</h1>

<% @portfolio_items.each do |portfolio_item| %>
    <h2><strong><%= portfolio_item.title %></strong></h2>
    <p><%= portfolio_item.subtitle %></p>
    <p><%= portfolio_item.body %></p>
    <%= image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil? %>

<% end %>