
    <header class="masthead pb-5"data-layout="rd-navbar-fixed"
        data-sm-layout="rd-navbar-fixed"
        data-md-layout="rd-navbar-fixed"
        data-md-device-layout="rd-navbar-fixed"
        data-lg-layout="rd-navbar-static"
        data-lg-device-layout="rd-navbar-fixed"
        data-xl-layout="rd-navbar-static"
        data-xl-device-layout="rd-navbar-static"
        data-lg-stick-up-offset="46px"
        data-xl-stick-up-offset="46px"
        data-xxl-stick-up-offset="46px"
        data-lg-stick-up="true"
        data-xl-stick-up="true"
        data-xxl-stick-up="true">
        <div class="inner">
            <h3 class="masthead-brand w-25 d-inline text-center">Albertus Christyadhi</h3>
            <nav class="nav nav-masthead justify-content-center app-nav">
            <%= nav_helper "nav-link", "span" %>
            <%= login_helper "nav-link" %>
            </nav>
        </div>
    </header>

