<div class="inner cover">
  <div clas="d-flex justify-content-center">
    <h1 class="cover-heading">Cover you</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit corrupti laboriosam molestiae libero recusandae nam eos dignissimos incidunt numquam at a harum, velit aliquam dolor dicta sed ab error neque.</p>
    <p class="lead">
      <%= link_to 'Learn More', about_me_path, class: "btn btn-lg btn-secondary"%>
    </p>
  </div>
</div>
